{% extends "layout.html.j2" %}

{% block title %} Hints for {{ game }} {% endblock %}

{% block content %}
{% for act in seen_acts | reverse %}
<div class="act {{ 'current' if loop.first else 'solved' }}">
    <h1>{{ act.name }}</h1>
    <a href="{{ url_for('list_puzzles', game=game, act_name=act.name) }}">
        I'm stuck here.
    </a>
    {% if loop.first %}
    <a href="{{ url_for('list_acts', game=game, lastSolvedAct=act.index) }}">
        I've solved this one
    </a>
    {% endif %}
</div>
{% endfor %}

<p>
    <a href="{{ url_for('list_acts', game=game, lastSolvedAct=max_act_id) }}">
        Go ahead, spoil me and show me all acts
    </a>
</p>
{% endblock%}