{% extends "layout.html.j2" %}

{% block title %} All Games {{ super() }} {% endblock %}

{% block content %}
<ul>
  {% for game in games %}
  <li> {{ game.name }} - <a href="{{ url_for('list_acts', game=game.name) }}"> Hints </a></li>
  {% endfor %}
</ul>
{% endblock %}